###Common Commands####
#Connection to the input wallet. TumbleBit.CLI will try to autoconfig based on default settings of Bitcoin Core.
rpc.url=http://127.0.0.1:18332/
rpc.user=bitcoinuser
rpc.password=bitcoinpassword
#rpc.cookiefile=yourbitcoinfolder/.cookie


####Server Commands####
#port=37123
#listen=0.0.0.0


####Tor configuration (default is enabled, using cookie auth or no auth on Tor control port 9051)####
tor.enabled=true
tor.server=127.0.0.1:9051
#tor.password=mypassword
tor.cookiefile=/home/shared/control_auth_cookie
#tor.virtualport=80


####Debug Commands####
#Whether or not the tumbler deliver puzzle's solution off chain to the client (default: true)
#cooperative=false
